<body>
	<div class="toppage-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3">
					<h1 align="center"><b>What's <span class="navbar-title2"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers</span> ?</b></h1>

						<div class="wellcome-text">
							<p>In<span class="glyphicon glyphicon-book" aria-hidden="true"></span> Bookers,</p>
							<p>you can share and exchange your opinions , inpressions , and emotions</p>
							<p>about varioius books! Let's enjoy <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers life!!</p>
						</div>
				</div>
			</div>
		</div>
	</div>
</body>