/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 .clearfix::after{
 	content: "";
 	display: block;
 	clear: both;
 }
h1{
	padding: 30px;
	font-size: 2em;
	/*text-shadow: 4px 4px 5px red;*/
	border-radius: 32px 0 0 32px;
	/*box-shadow: inset 24px 24px 50px 0px blue;*/
	transform: skew(-20deg, 0deg);
	/*background: linear-gradient(lime, skyblue)*/
}
h2{
	margin-left: 30px;
}
h4{
	font-size: 14px;
}
.about-bookers{
	padding-bottom: 30px;
	padding-left: 60px;
	line-height: 50px;
}
.start, .edit{
	margin-left: 60px;
}
.error-title, .error-info{
	color: red;
}
.succes-message{
	color: green;
}
.succes-destroy{
	color: red;
}
.table{
	margin: 20px 0;
}
.books-title-body{
	text-align: center;
}
td{
	padding: 5px 10px;
}
.info-table{
	padding: 10px 60px;
}
.back{
	margin: 20px 5px;
}
.form-position{
	margin: 10px 60px;
}